[! filter markdown|safe !]
This is Day 5 of <a href="https://weirdweboctober.website/">Weird Web Ocbober</a>.
The theme is _Remix_.

This experiment is based off 
[splitter.fm](https://splitter.fm/). Splitter lets you 
mute and solo the various stems of a track. That's great, but I want
full fader control. So, I built this. 

I built an earlier prototype that lets you click around
to different parts of the track and save your fader
movements so you can replay them. The base code
here is a big refinement for the basics player.
I'll build the rest of the functionality when
I bring the other one online. 

Here's the code for the page. It uses
<a href="https://bitty.alanwsmith.com/">bitty</a>
to wire up the interactions. It's not required
for the audio functionality. That's all 
based off the
<a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">Web Audio API</a>. 
[! endfilter !]