canvas {
  margin-bottom: var(--default-padding);
}

.labelName {
  display: inline-block;
  width: 4rem;
}


.waveform-wrapper {
  font-size: var(--small-font);
  border-block: 1px solid var(--accent-faded);
  margin-bottom: var(--xlarge-margin);
  padding-top: var(--default-padding);
  width: 440px;
}

